<h1>Compounds Viewer</h1>
<p>James Carter 2021-06-29</p>
<p>This is a webgl demo adapted to ES6 from an old
library called Glmol that visualises molecules
using various text based molecule formats.</p>
<p>A python script name augment_compounds.py in this directory was used
to augment the compounds.json data within src/compounds.json with the 
Protein Data Bank (pdb) format</p>
<h2>Quickstart</h2>
<pre><code>$ cd build


$ npx serve
</code></pre>
<p>or</p>
<pre><code>$ python -m http.serve
</code></pre>
<p>There is also the start of a Dockerfile</p>
<h2>npm start</h2>
<p>To develop or use:</p>
<pre><code>$ npm install

$ npm start
</code></pre>
<p>Open <a href="http://localhost:3000">http://localhost:3000</a> to view it in the browser.</p>
<h2>to test</h2>
<p>npm test</p>